/* FOOTER */
.footer {
    background: none repeat scroll 0 0 white;
    border-top: 1px solid #e7eaec;
    bottom: 0;
    left: 0;
    padding: 10px 20px;
    position: absolute;
    right: 0;
}
.footer.fixed_full {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
}
.footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 10px 20px;
    background: white;
    border-top: 1px solid #e7eaec;
    margin-left: 204px;
}
.sidebar-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#wrapper.toggled #page-footer{margin-left:70px}

/* Metis menu */
.sidebar-nav .metismenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.margin-left {
    margin-left: 10px;
    margin-right: 10px;
}

.sidebar-nav .metismenu li + li {
    margin-top: 0px;
}

.sidebar-nav .metismenu li:first-child {
    margin-top: 0px;
}
.sidebar-nav .metismenu li:last-child {
    margin-bottom: 0px;
}

.mm-sub {
    height: 20px;
    vertical-align: middle;
}

.mm-sub img {
    width: 20px;
    height: 20px;
}

.mm-sub-text {
    display: inline;
}

.settings-list {
    border-bottom: 0px;
    min-height: 30px;
    padding: 5px;
}

.settings-value {
    display: inline-block;
    padding: 2px 4px;
    background-color: #f7f7f7;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    margin: 0 0 0 0;
}

.sidebar-nav .metismenu > li {
    /*-webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
}
.sidebar-nav .metismenu a {
    position: relative;
    display: block;
    padding: 0px 0px;
    color: #adb5bd;
    outline-width: 0;
    transition: all .3s ease-out;
}

.sidebar-nav .metismenu ul a {
    padding: 10px 15px 10px 30px;
}

.sidebar-nav .metismenu ul ul a {
    padding: 10px 15px 10px 45px;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active,
.sidebar-nav .metismenu .mm-active > a {
    color: #f8f9fa;
    text-decoration: none;
}

.alert-message {
    white-space: pre-line;
    margin: 15px;
    margin-right: 20px;
    margin-left: -5px;
    width: 100%;
}

.alert-panel {
    padding: 10px;
}

.alert-heading {
    padding: 10px;
}

.invisible-row {
    display: none;
}

span:after, span:before {
    content: '';
}